html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    background-color: white;
}

h1 {
    font-size: 2.5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0A2034;
    /* red #EE3A43 */
    /* footer blue #00457C */
}

.header .header-nav {
    display: flex;
    padding: 5px 5% 5px;
    list-style-type: none;
    font-size: 16px;
    gap: 16px;
    z-index: 1;
    margin-bottom: 0;
    margin-top: 0;
}

li {
    white-space: nowrap;
}

.header a {
    padding-left: 3%;
    color: white;
}

.header img {
    height: 80px;
}

.top-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* background-image: url("assets/DFE-7.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: green; */
}

.top-bar img {
    width: 100%
}


.image-category{
    width: 100%;
    opacity: 1;
    max-height: inherit;
    transition:  0.5s;
    overflow: hidden;
  }

.top-bar .text {
    position: absolute;
}

.top-bar h1 {
    font-size: 2.5em;
    /* transform: translateY(-50vh); */
    padding: 10px 150px 10px 20px;
    font-weight: 800;
    color: white;
    background-color: #EE3A43;
}

.section-header {
    padding: 250px;
    position: relative;
    background-image: url("assets/flair.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
/* .section-header::before {
    content: "";
    background-image: url("assets/flair.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
} */

.section-header h2 {
    position: relative;
}

.photo-scroll {
    padding: 200px 0;
    background-image: url("assets/DFE-10_bw.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.photo-scroll .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.photo-scroll h2 {
    width: 30%;
    background-color: #00457C;
    padding: 30px 5% 30px 30px;
}

.photo-scroll h3 {
    background-color: #EE3A43;
    padding: 15px;
    margin-right: 180px;
    margin-top: -40px;
}

.photo-scroll .second {
    align-items: flex-start;
    text-align: right;
}

.second {
    background-image: url("assets/DFE-9_bw.png");
}
.second h3 {
    margin-right: 0;
    margin-left: 27%;
}

.results-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.results-bar .text {
    background-color: #0A2034;
    width: 100%;
    color: white;
    padding-bottom: 20px;
}

.results-bar h3 {
    background-color: #EE3A43;
    color: white;
    padding: 20px;
    margin-top: -20px;
}

.contact {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: .8em;
    text-align: center;
    font-weight: 800;
    color: #0A2034;
}

.footer {
    padding: 150px 0;
    background-color: #00457C;
    color: white;
}

#front-page-title {
    padding-right: 300px;
}
